---
import { Image } from "astro:assets";

    const { imgSrc, alt, title, description, index } = Astro.props;
---

<!-- <Image loading="lazy" class="img__service hidden md:block" src={imgSrc} alt={alt} style=`--ga:img${index}`/> -->
<div class="services__item py-8 md:py-20" style=`--ga:text${index}`>
    <h2 class="text-2xl text-celurean-500 font-bold pb-8 text-center md:text-left">{title}</h2>
    <p class="services__item--text" set:html={description}></p>
</div>


<style>
    .img__service {
        opacity: 0;
		/* display: none; */
		/* 
		opacity: 0; */
		grid-area: var(--ga);
	}

    .services__item{
        grid-area: var(--ga);
    }

    /* .services__item{
        padding-top: 5rem;
    } */

    /* .img__service.active{
		display: block;
		animation: fade-in 1s forwards;    
	} */

    
    @keyframes fade-in{
        to{
            display: block;
            opacity: 1;
        }
    }
    .services__item--text {
        font-size: clamp(1rem, 3.2vw + 0rem, 1.3rem);
    }
</style>